{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% block contentheading %}Students panel{% endblock %}
{% block maincontent %}
    {% block studentcontent %}
    <dl>
        <dt><a href="/student/questions">Questions</a></dt>
        <dd>Questions answered and not answered.</dd>
        <dt><a href="/student/progress">Student progress</a></dt>
        <dd>Student progress following options such as nº of questions answered, total score, etc.</dd>
    </dl>
    {% endblock %}
{% endblock %}
