{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Teacher{% endblock %}
{% block contentheading %}Teachers panel{% endblock %}
{% block maincontent %}
    {% block teachercontent %}
    <dl>
        <dt><a href="/teacher/questions">Question management</a></dt>
        <dd>Question management operations such as question creation, edition, preview, etc.</dd>
        <dt><a href="/teacher/students">Student progress</a></dt>
        <dd>Student progress following options such as nº of questions answered, total score, etc.</dd>
    </dl>
    {% endblock %}
{% endblock %}
