{% extends "student.html" %}
{% from "macros/buttons.html" import button with context %}
{% block contentsubheading %}Question management{% endblock %}
{% block studentcontent %}
    {% block questioncontent %}
    <dl>
        <dt><a href="/student/questions/pending">Pending questions</a></dt>
        <dd>Pending questions to answer.</dd>
        <dt><a href="/student/questions/answers">Student answers</a></dt>
        <dd>Student answers to the questions.</dd>
    </dl>
    {% endblock %}
{% endblock %}