{% extends "teacher.html" %}
{% from "macros/buttons.html" import button with context %}
{% block contentsubheading %}Question management{% endblock %}
{% block teachercontent %}
<table class="fillwidth highlightrows">
    <tbody>
        <tr>
            <th class="alignleft">Question Title</th><th></th>
        </tr>
        {% for question in questions %}
            <tr class="highlightable">
                <td class="alignleft">{{ question['title'] }}</td>
                <td class="alignright">{{ button('yellowbg', '/teacher/questions/preview?questionid=' + question['id'] + '&redirect_to=/teacher/questions', 'Preview') }}
                                        {{ button('bluebg', '/teacher/questions/edit?questionid=' + question['id'] + '&redirect_to=/teacher/questions', 'Edit') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p class="alignright">{{ button('bluebg', '/teacher/questions/new', 'Create new question') }}</p>
<p class="alignleft">{{ button('bluebg', '/teacher/questions/stats', 'View statistics') }}</p>
{% endblock %}
