{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Edit question{% endblock %}
{% block teachercontent %}
    {% block questioncontent %}
    <form action="/teacher/questions/new" method="post">
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <input type="hidden" name="title" value="{{ title }}" />
        <input type="hidden" name="body" value="{{ body }}" />
        <input type="hidden" name="option1" value="{{ option1 }}" />
        <input type="hidden" name="option2" value="{{ option2 }}" />
        <input type="hidden" name="option3" value="{{ option3 }}" />
        <input type="hidden" name="correct_answer" value="{{ correct_answer }}" />
        <dl>
            <dt>Title</dt>
            <dd>
                <input type="text" name="title" value= "{{ title }}"  />
            </dd>
            <dt>Body</dt>
            <dd>
                <input type="text" name="body" value= "{{ body }}"  />
            </dd>
            <dt>Option 1</dt>
            <dd>
                <input type="text" name="option1" value= "{{ option1 }}"  />
            </dd>
            <dt>Option 2</dt>
            <dd>
                <input type="text" name="option2" value= "{{ option2 }}"  />
            </dd>
            <dt>Option 3</dt>
            <dd>
                <input type="text" name="option3" value= "{{ option3 }}" />
            </dd>
            <dt>Number of the correct answer</dt>
            <dd>
                <input type="number" name="correct_answer" min=1, max=3, value= "{{ correct_answer }}"  />
            </dd>
        </dl>
        <p class="alignright">{{ submit_button('bluebg', 'Change Question') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
    </form>
    {% endblock %}
{% endblock %}
