{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Preview question{% endblock %}
{% block teachercontent %}
    <form action="/teacher/questions/preview" method="post">
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <dl>
            <dt>{{ title }}</dt>
            <dd id="questiondd">
                Aquí irá el cuerpo de cada pregunta una vez tengamos el backend
            </dd>
            <dd id="questiondd">
                <input type="radio" name="option" value="opcion1" >Esta será la opción 1<br>
                <input type="radio" name="option" value="opcion2" >Esta será la opción 2<br>
                <input type="radio" name="option" value="opcion3" >Esta será la opción 3<br>
                <input type="button" value="Try">
            </dd>
        </dl>
        <p class="alignright">{{ button('redbg', redirect_to, 'Back') }}</p>
    </form>
{% endblock %}
