{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Answer Question{% endblock %}
{% block studentcontent %}
    <form action="/student/questions/pending/answer" method="post">
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <input type="hidden" name="id" value="{{ question['id'] }}" />
        <dl>
            <dt>{{ question['title'] }}</dt>
            <dd id="questiondd">
                {{ question['body'] }}
            </dd>
            <dd id="questiondd">
                <input type="radio" name="option" value="opcion1" >{{ question['option1'] }}<br>
                <input type="radio" name="option" value="opcion2" >{{ question['option2'] }}<br>
                <input type="radio" name="option" value="opcion3" >{{ question['option3'] }}<br>
            </dd>
        </dl>
        <p class="alignright">{{ submit_button('bluebg', 'Answer Question') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
    </form>
{% endblock %}