{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Student progress{% endblock %}
{% block studentcontent %}
    {% block progresscontent %}
    <table class="fillwidth highlightrows">
        <tbody>
            <tr>
                <th class="alignleft">Total answered questions:</th>
                <th class="alignleft">Total punctuation:</th>
                <th class="alignleft">Punctuation out of 10 over all questions:</th>
                <th class="alignleft">Punctuation out of 10 over answered questions:</th>
            </tr>
            <tr>
                <td class="alignleft">{{ stats['n_answers'] }}</th>
                <td class="alignleft">{{ stats['user_punctuation'] }}</th>
                <td class="alignleft">{{ stats['score_all_questions'] }}</th>
                <td class="alignleft">{{ stats['score_answered'] }}</th>
            </tr>
        </tbody>
    </table>
    {% endblock %}
{% endblock %}